<br />
<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card">
    <div class="card-body">
      <%= form_for [@gauge, @measurement], url: gauge_measurements_path, html: { class: 'mx-auto' } do |f| %>
        <div class="form-group">
          <%= f.label :amount, "Enter reading", class: 'control-label' %>
          <%= f.number_field :amount, step: 'any', class: 'form-control' %>
        </div>

        <%= f.submit "Create Measurement", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
