<!-- app/views/reviews/new.html.erb -->
<div class="container h-100">
  <div class="row justify-content-center align-items-center">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h2 class="text-center">Create New Review</h2>
          <%= render 'form', review: @review %>
        </div>
      </div>
    </div>
  </div>
</div>